.CLIENT #animation_wrapper {
  display: flex;
  height: 95vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 0px;
  margin-bottom: 12%;
}
.CLIENT {
  //   position: absolute;
  //   top: 100%;
  //   left: 0;
  //   width: 100%;
}
