@import "../../../variable_styles.scss";

#myHeader {
  position: relative;
  // z-index: 1;
  transition: all 0.9s ease;
}

.headerStickyClass {
  position: fixed !important;
  top: 0;
  width: 100%;
  background: #fff;
  box-shadow: 0px 0px 20px #00000014;
  transition: all 0.9s ease;
  z-index: 999;
  box-shadow: 0px 4px 14px 0px #4d4d4d;
}

.arabicOption {
  background: url(../../../assets/images/footer-images/arabic-ln.png)
    center/no-repeat;
}
.englishOption {
  background: url(../../../assets/images/footer-images/english-ln.png)
    center/no-repeat;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.topbar {
  padding: 10px;
  background-color: #282f3a;

  .topbar-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .login-lang {
      display: flex;
      align-items: center;

      a {
        color: #fff;
        font-size: 10px;
        padding-right: 20px;
        font-family: "IBM Plex Sans", sans-serif;
        i {
          padding-right: 5px;
        }

        @include extrasmall {
          padding-right: 0;
        }
      }
      .lang-change {
        span {
          color: #fff;
          font-size: 10px;
        }

        img {
          width: 17px;
          margin-right: 5px;
        }
      }

      @include extrasmall {
        justify-content: space-between;
        width: 100%;
        flex-direction: row-reverse;
      }
    }

    .contact-info-top {
      a {
        color: #fff;
        font-size: 10px;
        padding-right: 20px;
        font-family: "IBM Plex Sans", sans-serif;
        i {
          padding-right: 5px;
        }
      }

      @include extrasmall {
        display: none;
      }
    }
  }
}

.header-menu-main {
  background-color: #5f6671;

  .navbar {
    background-color: transparent;
    padding: 10px 0;

    .navbar-brand {
      img {
        width: 38px;
      }
      span {
        font-weight: 600;
        font-size: 30px;
        padding-left: 10px;
        vertical-align: bottom;
      }
    }
    .navbar-nav {
      .nav-link {
        font-size: 14px;
        color: #282f3a;
        font-weight: 600;
        font-family: "IBM Plex Sans", sans-serif;
      }
      .nav-item:last-child .nav-link {
        padding-right: 0;
      }
    }

    .navbar-toggler {
      border: 0;

      .navbar-toggler-icon {
        background-image: url(/assets/images/header-images/menu.png);
      }
    }
  }
}
