<!-- <p>login works!</p> -->

<section id="login_page">
    <!-- <div class=""> -->
    <div class="background_shapes">
        <div class="top_background_shape">

        </div>
        <div class="bottom_background_shape">

        </div>
    </div>
    <!-- <div class="container"> -->
    <div class="login_card">
        <div class="creditly_logo" routerLink="/creditly/LandingPage">
            <a style="cursor: pointer;">
                <img src="../../assets/images/header-images/header-main-logo.png" alt="">
            </a>
            <h2>Creditly</h2>
        </div>
        <div class="card custom-card forgot-password-card">
            <div class="card-body">

                <div class="forgotpass1">
                    <div class="main_heading">
                        <div>
                            <div class="top-icon">
                                <img src="/assets/images/mobile-icon.png">
                            </div>
                            <h4>Forgot your password?</h4>
                            <p>Enter phone number below to receive
                                password reset instruction</p>
                        </div>
                    </div>
                    <div class="login_form mt-0">


                        <div>
                            <div class="form-group">
                                <input type="tel" class="form-control" [(ngModel)]="forgotIqmaId"
                                    placeholder="Enter phone number"
                                    [ngClass]="{validationClass: validIqamaForgotFlag == true}" />
                            </div>
                            <div class="text-center mt-5">
                                <button class="btn btn-md login_btn" [disabled]="sendOTPFlag"
                                    (click)="sendOTP()">Send</button>
                                <div class="go_signup">
                                    <p>Don't have an account?</p>
                                    <p><a class="forgot_text" [routerLink]="['/register']">Sign up</a></p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="forgotpass2">

                    <div class="main_heading">

                        <div class="top-icon">
                            <img src="/assets/images/message-icon.png">
                        </div>
                        <h4>Verification</h4>
                        <p>Enter your OTP Code here</p>

                    </div>
                    <div class="login_form mt-0">
                        <form [formGroup]="updatePasswordForm">
                            <div class="form-group">

                                <div class="mb-6 text-center">
                                    <div id="otp" class="d-flex justify-content-center">
                                        <input class="m-2 focus:border-blue-400 focus:shadow-outline" type="text" id="1"
                                            maxlength="1" />
                                        <input class="m-2 focus:border-blue-400 focus:shadow-outline" type="text" id="2"
                                            maxlength="1" />
                                        <input class="m-2  focus:border-blue-400 focus:shadow-outline" type="text"
                                            id="3" maxlength="1" />
                                        <input class="m-2  focus:border-blue-400 focus:shadow-outline" type="text"
                                            id="4" maxlength="1" />

                                    </div>
                                </div>
                            </div>

                            <div class="text-center mt-5">
                                <button class="btn btn-md login_btn" [disabled]="updatePwdSubmitFlag"
                                    (click)="updatePassword()">OK!</button>
                                <div class="go_signup">
                                    <p *ngIf="OTPExpireTime>0"><a class="forgot_text">Resent OTP in {{OTPExpireTime}}
                                            seconds</a></p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="forgotpass3">

                    <div class="main_heading">

                        <div class="top-icon">
                            <img src="/assets/images/message-icon.png">
                        </div>
                        <h4>Verification</h4>
                        <p>Enter your OTP Code here</p>

                    </div>
                    <div class="login_form mt-0">
                        <form [formGroup]="updatePasswordForm">
                            <div class="form-group">
                                <label for="">OTP</label>
                                <input type="tel" class="form-control" formControlName="otp" placeholder="Enter OTP"
                                    [ngClass]="{validationClass: updatePwdFormFlag && updatePasswordForm.controls['otp'].errors}" />
                            </div>
                            <div class="form-group">
                                <label for="">New Password</label>
                                <input type="password" class="form-control" formControlName="newPwd"
                                    placeholder="Enter New Password"
                                    [ngClass]="{validationClass: updatePwdFormFlag && updatePasswordForm.controls['newPwd'].errors}" />
                            </div>
                            <div class="form-group">
                                <label for="">Confirm Password</label>
                                <input type="password" class="form-control" formControlName="confirmPwd"
                                    placeholder="Enter Confirm Password"
                                    [ngClass]="{validationClass: updatePwdFormFlag && updatePasswordForm.controls['confirmPwd'].errors}" />
                            </div>
                            <div class="text-center mt-5">
                                <button class="btn btn-md login_btn" [disabled]="updatePwdSubmitFlag"
                                    (click)="updatePassword()">Update</button>
                                <div class="go_signup">
                                    <p *ngIf="OTPExpireTime>0"><a class="forgot_text">Resent OTP in {{OTPExpireTime}}
                                            seconds</a></p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="terms_conditions">
        <a>Privacy & Terms</a>
    </div>
    <!-- </div> -->
    <!-- </div> -->
</section>