<!-- <p>login works!</p> -->

<section id="login_page">
    <!-- <div class=""> -->
    <div class="background_shapes">
        <div class="top_background_shape">

        </div>
        <div class="bottom_background_shape">

        </div>
    </div>
    <!-- <div class="container"> -->
    <div class="login_card">
        <div class="creditly_logo" routerLink="/creditly/LandingPage">
            <a style="cursor: pointer;">
                <img src="../../assets/images/header-images/header-main-logo.png" alt="">
            </a>
            <h2>Creditly</h2>
        </div>
        <div class="card custom-card forgot-password-card">
            <div class="card-body">

                <div class="forgotpass1 " #step1>
                    <div class="main_heading">
                        <div>
                            <div class="top-icon">
                                <img src="/assets/images/mobile-icon.png">
                            </div>
                            <h4>Forgot your password?</h4>
                            <p>Enter phone number below to receive
                                password reset instruction</p>
                        </div>
                    </div>
                    <div class="login_form mt-0">
                        <div>
                            <form [formGroup]="sendOTPForm">
                                <div class="form-group">
                                    <input type="tel" formControlName="phone" class="form-control"
                                        placeholder="Enter phone number" />
                                </div>
                                <div class="text-center mt-5">
                                    <button class="btn btn-md login_btn" [disabled]="sendOTPForm.invalid"
                                        (click)="sendOTP(step1, step2)">Send</button>
                                    <div class="go_signup">
                                        <p>Don't have an account?</p>
                                        <p><a class="forgot_text" [routerLink]="['/register']">Sign up</a></p>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="forgotpass2 hiddenBoxes" #step2>

                    <div class="main_heading">

                        <div class="top-icon">
                            <img src="/assets/images/message-icon.png">
                        </div>
                        <h4>Verification</h4>
                        <p>Enter your OTP Code here</p>

                    </div>
                    <div class="login_form mt-0">
                        <form [formGroup]="verifyOTPForm">
                            <div class="form-group">

                                <div class="mb-6 text-center">
                                    <div id="otp" class="d-flex justify-content-center">
                                        <input class="m-2 focus:border-blue-400 focus:shadow-outline" type="text" id="1"
                                            maxlength="1" />
                                        <input class="m-2 focus:border-blue-400 focus:shadow-outline" type="text" id="2"
                                            maxlength="1" />
                                        <input class="m-2  focus:border-blue-400 focus:shadow-outline" type="text"
                                            id="3" maxlength="1" />
                                        <input class="m-2  focus:border-blue-400 focus:shadow-outline" type="text"
                                            id="4" maxlength="1" />

                                    </div>
                                </div>
                            </div>

                            <div class="text-center mt-5">
                                <button class="btn btn-md login_btn" (click)="verifyOTP(step2, step3)">OK!</button>
                                <div class="go_signup">
                                    <p *ngIf="maxTime>0"><a class="forgot_text">Resent OTP in {{maxTime}}
                                            seconds</a></p>
                                    <button class="btn btn-md login_btn" *ngIf="maxTime === 0">Resend OTP</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="forgotpass3 hiddenBoxes" #step3>

                    <div class="main_heading">

                        <div class="top-icon">
                            <img src="/assets/images/update-pass-icon.png">
                        </div>
                        <h4>Create new password</h4>
                        <p>Your new password must be different form
                            previously used passwords.</p>

                    </div>
                    <div class="login_form mt-0">
                        <form [formGroup]="updatePasswordForm">

                            <div class="form-group">
                                <label for="">Password</label>
                                <input type="password" class="form-control" formControlName="newPwd"
                                    placeholder="Enter New Password">
                                <!-- [ngClass]="{validationClass: updatePwdFormFlag && updatePasswordForm.controls['newPwd'].errors}" /> -->
                            </div>
                            <div class="form-group">
                                <label for="">Confirm Password</label>
                                <input type="password" class="form-control" formControlName="confirmPwd"
                                    placeholder="Enter Confirm Password">
                                <!-- [ngClass]="{validationClass: updatePwdFormFlag && updatePasswordForm.controls['confirmPwd'].errors}" /> -->
                            </div>
                            <div class="text-center mt-5">
                                <button class="btn btn-md login_btn" [disabled]="updatePasswordForm.invalid"
                                    (click)="updatePassword(step3)">Reset Password</button>

                            </div>
                        </form>
                    </div>
                </div>

                <div class="disclaimer-text">
                    <p>Disclaimer, Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et
                        dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore
                        et dolore magna aliqua.</p>
                </div>

            </div>
        </div>
    </div>
    <div class="terms_conditions">
        <a>Privacy & Terms</a>
    </div>
    <!-- </div> -->
    <!-- </div> -->
</section>